<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./index.css">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
  <section class="page-detail">
  <div class="incomeDetail">
    <div class="cumulative-income">
      <h3 class="cumulative-income__name" >2021年</h3>
      <div class="cumulative-income__value">
        <span class="rise">
         123,456.00
        <span class="yuan">元</span>
        </span>
        <span id="triangle" class="triangle-up" onclick="switchBenefits()"></span>
      </div>
    </div>
  </div>
  <div class="records" >
    <ul id="ul_list">
    </ul>
  </div>
</section>
<script src="./index.js"></script>
</body>
</html>